footer {
   background-color: $bold_pink;
   color: $pink200;
   text-align: center;
   width: 100%;
   font-size: 1.4rem;
   a {
      color: $pink900;
   }
   p {
      margin: 0;
   }
}
