@import '../../lib/bootstrap/scss/variables.scss';
@import '../../lib/bootstrap/scss/mixins/breakpoints.scss';

html {
   font-size:52.5%;
}

body {
   font-size: 2.0rem;
   color: $base_font_color;
}

h1 {
   font-size: 4.5rem;
}

.hidden {
   display: none;
}

.wrapper {
   min-height: 100%;
   margin-bottom: -2.1rem;
}

a {
   text-decoration: none;
   &:hover {
      text-decoration: none;
   }
}

.center-ltr {
	text-align:center;
	@include media-breakpoint-up(sm){
		text-align: left;
	}
}

@include media-breakpoint-up(md) {
   html {
      font-size:55.5%;
   }
}
@include media-breakpoint-up(lg) {
   html {
      font-size:62.5%;
   }
}
