@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import '../../lib/bootstrap/scss/variables';
@import '../../lib/bootstrap/scss/mixins/breakpoints';
@import url(https://fonts.googleapis.com/css?family=Caveat+Brush);

html {
	font-size: 52.5%;
}

body {
	color: $base_font_color;
	font-size: 2rem;
	}

h1 {
	font-size: 4.5rem;
}

.hidden {
	display: none;
}

.wrapper {
	margin-bottom: -2.1rem;
	min-height: 100%;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.center-ltr {
	text-align: center;
	@include media-breakpoint-up(sm) {
		text-align: left;
	}
}

@include media-breakpoint-up(md) {
	html {
		font-size: 55.5%;
	}
}
@include media-breakpoint-up(lg) {
	html {
		font-size: 62.5%;
	}
}
