

/* colors */
$bold_pink: #E91E63;
$pink200: #F48FB1;
$pink400: #d81b60;
$pink700: #c2185b;
$pink: #e8608e;
$border-pink:  #c51162;
$lightest_pink: #FCE4EC;
$shadow_pink: #de5281;
$pink900: #880E4F;
$bg: #d8d7de;
$link_white: #ede;
$link-gray: #A2A2A2;
$border: #7d7d7d;
$base_font_color: #5C5E5F;
$menu_bg-hilite: #efe;
$menu_bg: #F5F5F5;
$hero_bg: #ffeb3b;
$logo-color: #f1f1f1;
$yellow_hero: #ffeb3b;
$shadow: #e4e4e4;

/* font family */
$nav_font: Arial, sans-serif;

/* grid */
$desktop-size: 1200px;
$desktop-container: 1170px;
