

/* colors */
$bold_pink: #E91E63;
$pink200: #F48FB1;
$pink400: #d81b60;
$pink700: #c2185b;
$border-pink:  #c51162;
$lightest_pink: #FCE4EC;
$pink900: #880E4F;
$bg: #d8d7de;
$link_white: #ede;
$link-gray: #A2A2A2;
$base_font_color: #5C5E5F;
$menu_bg-hilite: #efe;
$menu_bg: #F5F5F5;
$hero_bg: #ffeb3b;
$logo-color: #fff;
$yellow_hero: #ffeb3b;

/* font family */
$nav_font: Arial, sans-serif;

/* grid */
$desktop-size: 1200px;
$desktop-container: 1170px;
